
HbSearchPanel
{
    layout:default;
}

HbSearchPanel::searchoptionsbutton
{	
    fixed-width:9.0un;
    left: -var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    bottom: var(hb-param-margin-gene-middle-vertical);
}

HbSearchPanel::lineedit
{
    left: -var(hb-param-margin-gene-middle-horizontal);
    right: var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    bottom: var(hb-param-margin-gene-middle-vertical);

}

HbSearchPanel::progressbutton
{	
    fixed-width:9.0un;
    right: 0un;
    top: -var(hb-param-margin-gene-middle-vertical);
    bottom: var(hb-param-margin-gene-middle-vertical);
}

HbSearchPanel::progressbutton[progressive="true"]
{
    right: var(hb-param-margin-gene-middle-horizontal);
}

HbSearchPanel::cancelbutton
{
    fixed-width:9.0un;
    right: var(hb-param-margin-gene-middle-horizontal);
    top: -var(hb-param-margin-gene-middle-vertical);
    bottom: var(hb-param-margin-gene-middle-vertical);

}
