HbGridViewItem {
    layout:layout-1;
}

HbGridViewItem[icon][!text] {
    layout:layout-2;
}

HbGridViewItem[!icon][text] {
    layout:layout-3;
}

HbGridViewItem::icon {
}

HbGridViewItem::text {
    text-height: var(hb-param-text-height-tiny);
    font-variant: secondary;
    text-align: center center;
    text-line-count-min: 1;
    text-line-count-max: 1;
}

HbGridViewItem::selection-icon {
    fixed-width: 3.0un;
    fixed-height: 3.0un;
}

HbGridViewItem::multiselection-toucharea {
}

HbGridViewItem::frame {
    border-width: var(hb-param-background-grid-main);
}
