@variables 
{
	 BodyColor: #000000, #000000, #000000, #000000, #000000; 
	 BackgroundColor: #00ff00, #ff0000, #0000ff, #00ff00, #ff0000;
	 BorderColor: #00ff00, #ff0000, #0000ff, #ff0000, #0000ff;
	 HighlightColor: var(BorderColor);
	 label_disabled: #555555;
}

HbWidget
{
	  body-color: #00ff00, #ff0000, #0000ff;
	  background-color: var(BackgroundColor);
	  hcolor: var(HighlightColor);
	  text-color: var(BorderColor);
}
	  
HbWidget#TestWidget
{
	  body-color: #010200, #ff0000, #0000ff;
	  background-color: var(BackgroundColor);
	  hcolor: var(HighlightColor);
	  text-color: var(BorderColor);	  
}

HbLabel
{
  	body-color: #000000, #000000, #000000, #000000, #000000;
  	background-color: #000000, #000000, #000000, #000000, #000000;
	  hcolor: #000000, #000000, #000000, #000000, #000000;
	  text-color: #000000, #000000, #000000, #000000, #000000;
}

HbLabel[plainText="TestLabel"]
{
	  body-color: var(HighlightColor);
	  background-color: #010200, #ff0000, #0000ff;
		hcolor: var(BackgroundColor);
		text-color: var(BorderColor);	 
}

HbLabel[!enabled]
{
	body-color: var(label_disabled);
	background-color: #010200, #ff0000, #0000ff;
	hcolor: var(BackgroundColor);
	text-color: var(BorderColor);	 
}

HbWidget HbToolBar
{
	 body-color: #000000, #234567, #345678, #456789, #567890;
}



HbLabel > HbToolBar
{
  body-color: #123456, #234567, #345678, #456789, #567890;
}


HbWidget HbDialog
{
	body-color: #010101, #234567, #345678, #456789, #567890;
}


HbLabel HbDialog
{
	 body-color: #010203, #234567, #345678, #456789, #567890;
}
