* { 
    border-color: black;
    } 

* {
    Float:	black	;
    UnknownProperty:	red	;
    BackgroundColor:	blue	;
    Color:	green	;
    Font:	white	;
    FontFamily:	red	;
    FontSize:	blue	;
    FontStyle:	green	;
    FontWeight:	black	;
    Margin:	white	;
    MarginBottom:	red	;
    MarginLeft:	blue	;
    MarginRight:	green	;
    MarginTop:	black	;
    QtBlockIndent:	white	;
    QtListIndent:	red	;
    QtParagraphType:	blue	;
    QtTableType:	green	;
    QtUserState:	black	;
    TextDecoration:	white	;
    TextIndent:	red	;
    TextUnderlineStyle:	blue	;
    VerticalAlignment:	green	;
    Whitespace:	black	;
    QtSelectionForeground:	white	;
    QtSelectionBackground:	red	;
    Border:	blue	;
    BorderLeft:	green	;
    BorderRight:	black	;
    BorderTop:	white	;
    BorderBottom:	red	;
    Padding:	blue	;
    PaddingLeft:	green	;
    PaddingRight:	black	;
    PaddingTop:	white	;
    PaddingBottom:	red	;
    PageBreakBefore:	blue	;
    PageBreakAfter:	green	;
    QtAlternateBackground:	black	;
    BorderLeftStyle:	white	;
    BorderRightStyle:	red	;
    BorderTopStyle:	blue	;
    BorderBottomStyle:	green	;
    BorderStyles:	black	;
    BorderLeftColor:	white	;
    BorderRightColor:	red	;
    BorderTopColor:	blue	;
    BorderBottomColor:	green	;
    BorderColor:	black	;
    BorderLeftWidth:	white	;
    BorderRightWidth:	red	;
    BorderTopWidth:	blue	;
    BorderBottomWidth:	green	;
    BorderWidth:	black	;
    BorderTopLeftRadius:	white	;
    BorderTopRightRadius:	red	;
    BorderBottomLeftRadius:	blue	;
    BorderBottomRightRadius:	green	;
    BorderRadius:	black	;
    Background:	white	;
    BackgroundOrigin:	red	;
    BackgroundClip:	blue	;
    BackgroundRepeat:	green	;
    BackgroundPosition:	black	;
    BackgroundAttachment:	white	;
    BackgroundImage:	red	;
    BorderImage:	blue	;
    QtSpacing:	green	;
    Width:	black	;
    Height:	white	;
    MinimumWidth:	red	;
    MinimumHeight:	blue	;
    MaximumWidth:	green	;
    MaximumHeight:	black	;
    QtImage:	white	;
    Left:	red	;
    Right:	blue	;
    Top:	green	;
    Bottom:	black	;
    QtOrigin:	white	;
    QtPosition:	red	;
    Position:	blue	;
    QtStyleFeatures:	green	;
    QtBackgroundRole:	black	;
    ListStyleType:	white	;
    ListStyle:	red	;
    QtImageAlignment:	blue	;
    TextAlignment:	green	;
    Outline:	black	;
    OutlineOffset:	white	;
    OutlineWidth:	red	;
    OutlineColor:	blue	;
    OutlineStyle:	green	;
    OutlineRadius:	black	;
    OutlineTopLeftRadius:	white	;
    OutlineTopRightRadius:	red	;
    OutlineBottomLeftRadius:	blue	;
    OutlineBottomRightRadius:	green	;
    FontVariant:	black	;
    TextTransform:	white	;
    HbSpacingHorizontal:	red	;
    HbSpacingVertical:	blue	;
    HbColumnNarrowWidth:	green	;
    HbColumnWideWidth:	black	;
    HbIndent:	white	;
    HbSmallIconSize:	red	;
    HbLargeIconSize:	blue	;
    HbTopMarginWeight:	green	;
    HbIconLeftAlignmentWeight:	black	;
    HbStretchable:	white	;
    NumProperties	red	;
   }
