HbListDialogContentWidget:portrait{
	layout:list_query_layout;
}



HbListDialogContentWidget::this:portrait
{

	pref-height:35.0un;
	pref-width:30.0un;	
}

HbListDialogContentWidget::list:portrait{
	left:0.5un;
	right:0.5un;
	top:0.0un;
	bottom:0.0un;
}

HbListDialogContentWidget::list:landscape{
	left:0.5un;
	right:0.5un;
	top:0.0un;
	bottom:0.0un;
}

HbListDialogContentWidget:landscape{
	layout:list_query_layout;
}


HbListDialogContentWidget::this:landscape
{

	pref-height:25.0un;
}
