HbTitleBar
{
    layout:default;
    mirroring: disabled;
}

HbTitleBar::status{
    fixed-width: expr(var(hb-param-widget-chrome-height));
    fixed-height: expr(2/3*var(hb-param-widget-chrome-height));
}

HbTitleBar::title{
    fixed-height: expr(2/3*var(hb-param-widget-chrome-height));
}

HbTitleBar::back{
    fixed-width: expr(var(hb-param-widget-chrome-height));
    fixed-height: expr(2/3*var(hb-param-widget-chrome-height));
}

HbTitleBar::handle
{
    fixed-width: expr(1/3*var(hb-param-widget-chrome-height));
    fixed-height: expr(2/3*var(hb-param-widget-chrome-height));
}

HbTitleBar::toucharea
{   
    fixed-width: expr(2/3*var(hb-param-widget-chrome-height));
    fixed-height: var(hb-param-widget-chrome-height);
}

