/*
    Layout selection
*/

HbTreeViewItem[layoutName="default"][modelItemType="ParentItem"]{
	layout:parentitemlayout-1;
}

/*
    Standard primitive properties
*/

HbTreeViewItem::subitem-indicator{
	fixed-height: var(hb-param-graphic-size-secondary);
	fixed-width: var(hb-param-graphic-size-secondary);
}

HbTreeViewItem::text-1[modelItemType="ParentItem"]{
	text-height: var(hb-param-text-height-secondary);
	font-variant: secondary;
}

HbListViewItem::text-2[modelItemType="ParentItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}

HbListViewItem::text-3[modelItemType="ParentItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}

HbListViewItem::icon-1[modelItemType="ParentItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}

HbListViewItem::icon-2[modelItemType="ParentItem"]{
	minimum-height: 0.0un;
	minimum-width: 0.0un;
	fixed-height: 0.0un;
	fixed-width: 0.0un;
}
