HbIndicatorMenuClock[amPmSymbolPos="0"]
{
    layout:menuclock_ampmbefore;
}

HbIndicatorMenuClock
{
    layout:menuclock_ampmafter;
}

HbIndicatorMenuClock::time
{
    font-variant: primary;
    fixed-height: var(hb-param-text-height-primary);
    text-align: left;
    vertical-align: bottom;
}

HbIndicatorMenuClock::ampmSymbol
{
    font-variant: primary;
    fixed-height: var(hb-param-text-height-primary);
    text-align: left;
    vertical-align: bottom;
}
