HbLabel{
    layout:default;
}

HbLabel::text{
    left:-var(hb-param-margin-label);
    right:var(hb-param-margin-label);
    top:-var(hb-param-margin-label);
    bottom:var(hb-param-margin-label);
    size-policy-vertical: preferred;
}

HbLabel::icon{
    left:-var(hb-param-margin-label);
    right:var(hb-param-margin-label);
    top:-var(hb-param-margin-label);
    bottom:var(hb-param-margin-label);
}

HbDialog::heading > HbLabel::text {
    left:-var(hb-param-margin-gene-popup);
    right:var(hb-param-margin-gene-popup);
    top:-var(hb-param-margin-gene-popup);
    bottom:var(hb-param-margin-gene-popup);
    text-height:var(hb-param-text-height-primary);
    text-align:left;
    text-line-count-max: 1;
    font-variant:primary;
}